[Unit]
Description=Jupyterlab (miniconda3)

[Service]
Type=simple
PIDFile=/run/jupyter.pid

ExecStart=/opt/miniconda3/bin/jupyter-lab
User=csrl
Group=csrl
WorkingDirectory=/home/csrl/projects
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
