[Unit]
Description=Jupyter Notebook(miniconda3)

[Service]
Type=simple
PIDFile=/run/jupyter.pid

ExecStart=/home/deadlift/miniconda3/bin/python /home/deadlift/miniconda3/bin/jupyter
User=deadlift
Group=deadlift
WorkingDirectory=/home/deadlift/Projects
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
